<div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div ng-if="myDetailsCtrl.user_present()">
          <table class="table">
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email Address</th>
                <th>Phone Number</th>
                <th>Favorite Dish</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ myDetailsCtrl.user.fname }}</td>
                <td>{{ myDetailsCtrl.user.lname }}</td>
                <td>{{ myDetailsCtrl.user.email }}</td>
                <td>{{ myDetailsCtrl.user.phone }}</td>
                <td>{{ myDetailsCtrl.user.favoriteDish }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div ng-if="!myDetailsCtrl.user_present()">
            Not Signed Up Yet.  <a ui-sref="public.signup">Sign up Now!</a>
        </div>
      </div>
    </div>
</div>
